[submodule "vendor/lua"]
	path = vendor/lua
	url = git@github.com:lua/lua.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "vendor/cJSON"]
	path = vendor/cJSON
	url = git@github.com:DaveGamble/cJSON.git
